@mixin grid-col {
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 767px) {
  .m-all {
    @include grid-col;
    width: 100%;
  }

  .m-1of2 {
    @include grid-col;
    width: 50%;
  }

  .m-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .m-2of3 {
    @include grid-col;
    width: 66.66%;
  }

  .m-1of4 {
    @include grid-col;
    width: 25%;
  }

  .m-3of4 {
    @include grid-col;
    width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 1029px) {
  .t-all {
    @include grid-col;
    width: 100%;
  }

  .t-1of2 {
    @include grid-col;
    width: 50%;
  }

  .t-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .t-2of3 {
    @include grid-col;
    width: 66.66%;
  }

  .t-1of4 {
    @include grid-col;
    width: 25%;
  }

  .t-2of4 {
    @include grid-col;
    width: 50%;
  }

  .t-3of4 {
    @include grid-col;
    width: 75%;
  }

  .t-1of5 {
    @include grid-col;
    width: 20%;
  }

  .t-2of5 {
    @include grid-col;
    width: 40%;
  }

  .t-3of5 {
    @include grid-col;
    width: 60%;
  }

  .t-4of5 {
    @include grid-col;
    width: 80%;
  }
}

@media (min-width: 1030px) and (max-width: 1239px) {
  .d-all {
    @include grid-col;
    width: 100%;
  }

  .d-1of2 {
    @include grid-col;
    width: 50%;
  }

  .d-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .d-2of3 {
    @include grid-col;
    width: 66.66%;
  }

  .d-1of4 {
    @include grid-col;
    width: 25%;
  }

  .d-3of4 {
    @include grid-col;
    width: 75%;
  }

  .d-1of5 {
    @include grid-col;
    width: 20%;
  }

  .d-2of5 {
    @include grid-col;
    width: 40%;
  }

  .d-3of5 {
    @include grid-col;
    width: 60%;
  }

  .d-4of5 {
    @include grid-col;
    width: 80%;
  }

  .d-1of6 {
    @include grid-col;
    width: 16.6666666667%;
  }

  .d-1of7 {
    @include grid-col;
    width: 14.2857142857%;
  }

  .d-2of7 {
    @include grid-col;
    width: 28.5714286%;
  }

  .d-3of7 {
    @include grid-col;
    width: 42.8571429%;
  }

  .d-4of7 {
    @include grid-col;
    width: 57.1428572%;
  }

  .d-5of7 {
    @include grid-col;
    width: 71.4285715%;
  }

  .d-6of7 {
    @include grid-col;
    width: 85.7142857%;
  }

  .d-1of8 {
    @include grid-col;
    width: 12.5%;
  }

  .d-1of9 {
    @include grid-col;
    width: 11.1111111111%;
  }

  .d-1of10 {
    @include grid-col;
    width: 10%;
  }

  .d-9of10 {
    @include grid-col;
    width: 90%;
  }

  .d-1of11 {
    @include grid-col;
    width: 9.09090909091%;
  }

  .d-1of12 {
    @include grid-col;
    width: 8.33%;
  }
}
@media (min-width: 1240px) {
  .ld-all {
    @include grid-col;
    width: 100%;
  }

  .ld-1of2 {
    @include grid-col;
    width: 50%;
  }

  .ld-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .ld-2of3 {
    @include grid-col;
    width: 66.66%;
  }

  .ld-1of4 {
    @include grid-col;
    width: 25%;
  }

  .ld-3of4 {
    @include grid-col;
    width: 75%;
  }

  .ld-1of5 {
    @include grid-col;
    width: 20%;
  }

  .ld-2of5 {
    @include grid-col;
    width: 40%;
  }

  .ld-3of5 {
    @include grid-col;
    width: 60%;
  }

  .ld-4of5 {
    @include grid-col;
    width: 80%;
  }

  .ld-1of6 {
    @include grid-col;
    width: 16.6666666667%;
  }

  .ld-1of7 {
    @include grid-col;
    width: 14.2857142857%;
  }

  .ld-2of7 {
    @include grid-col;
    width: 28.5714286%;
  }

  .ld-3of7 {
    @include grid-col;
    width: 42.8571429%;
  }

  .ld-4of7 {
    @include grid-col;
    width: 57.1428572%;
  }

  .ld-5of7 {
    @include grid-col;
    width: 71.4285715%;
  }

  .ld-6of7 {
    @include grid-col;
    width: 85.7142857%;
  }

  .ld-1of8 {
    @include grid-col;
    width: 12.5%;
  }

  .ld-1of9 {
    @include grid-col;
    width: 11.1111111111%;
  }

  .ld-1of10 {
    @include grid-col;
    width: 10%;
  }

  .ld-9of10 {
    @include grid-col;
    width: 90%;
  }

  .ld-1of11 {
    @include grid-col;
    width: 9.09090909091%;
  }

  .ld-1of12 {
    @include grid-col;
    width: 8.33%;
  }
}

.last-col {
  float: right;
  padding-right: 0;
}
